header {
    margin:0;
    background-attachment: scroll;
    background: url(../img/download.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.navigation {      
    box-shadow: 0px 1px 3px #111;
    background-color:rgba(0,0,0,0.2);
    margin-bottom:15px;
    border-bottom:1px solid #000;
    padding: 1em;
}

.navbar-default{    
    box-shadow: 0px 1px 3px #111;
    background-color:rgba(0,0,0,0.2);
    margin-bottom:15px;
    border-bottom:1px solid #000;
    padding: 0.5em; 

}

#intro{
    padding-top: 65px;
    left :0px;
}
.item-body{
    height: 500px;
}

.item-title {    
    padding-top: 5%;
    line-height: 1.15;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 55px;    
}

.item-title-green {
    color:#7DCF3D;  
}

.menu {
    float: right;
} 

.aznar {
    padding: 2px;  
    color: #ffffff;
     background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;    
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);  
    background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
    font-family: "Oswald",Helvetica,Arial,sans-serif;     
    text-decoration: none;
        -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;    
    text-shadow: 10px;
    font-size: 15px;
    font-weight:bold;   
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
     -ms-transition:all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.aznar:hover{
    font-weight: bolder;
            -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
         -o-border-radius: 15px;
            border-radius: 15px;
    background-color:rgba(0,0,0,0.4); 
}

.navbar-default .navbar-toggle {
    background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;    
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);  
    background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    padding :10px;
    margin-left: 4px;
    margin-right: 4px;
}
.animated {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 3s;
    -vendor-animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.titre{
    text-shadow:0px -3px 5px #000000;
    font-size:40px;
    color: #FFFFFF;
    font-family:Oswald;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-shadow:0px -3px 5px #000000;
    color: #FFFFFF;
}

h2{
    font-weight: bolder;
    font-family : Oswald,sans-serif;
    font-size : 40px;
    padding-top : 20px;
    margin-bottom : 0px;
    text-shadow :0px 3px 1.5px #000000;
    color :  #262626;  
}
.Subtext {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 22px;
    color: #888;
    font-family: Oswald;
    text-shadow :0px 1px 1px #000000;
}

.Subtext2 {
    margin-top: 40px;
    margin-bottom: 40px;

}


h3{  
    font-weight: bolder;
    padding: 5px 0px;
    font-size: 30px;
    color: #424A59;
    line-height: 25px; 
    text-shadow :0px 1px 1px #000000; 
    font-family: Oswald;
}

.text{
    color: #888;
    font-size: 18px;
    line-height: 32px;    

} 


.subtitle {      
    margin: 5%;
            -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    box-shadow: 0px 1px 3px #111;
    background-color:rgba(0,0,0,0.2);
    padding: 1em;
    text-shadow:0px -3px 5px #000000;
    font-size:20px;
    color: #FFFFFF;
    font-family:Oswald;
}

.navbar-brand {
    padding: 0px;
}

.carousel-control .glyphicon-chevron-left {
    left: 5%;
    top: 50%;
}
.carousel-control .glyphicon-chevron-right {
    right: 5%;
    top: 50%;
}

.carousel {
    padding-bottom: 40px;
}



.part-bg{  
    padding-top: 3%;
    padding-bottom:5%;
    background-image: url(../img/bg-services.png);
    overflow: hidden;    
}

.space{    
    padding: 5px;   
}

.services-icon {
    box-shadow: 0px 0px 20px  #999 inset;
    display: inline-block;
    padding: 0.5em;  
    color: rgba(106, 190, 106, 0.78);
            -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    border-width: 1px;
    border-color: #424A59;
    font-size: 40px;
    border-style: dashed;
    text-shadow: 50px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in-out;


}
.services-icon:hover {
    color: rgba(61, 138, 61, 1);
    
            -webkit-border-radius: 30%;
       -moz-border-radius: 30%;
         -o-border-radius: 30%;
            border-radius: 30%;
    
}
/* This code is tested with latest version of Firefox and Chrome */
.box { 
    position: relative;
    margin: 5px;
    width: 100%;
    height: 480px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5), 0 4px 50px rgba(0,0,0,0.4) inset;
   
            -webkit-border-radius:1%     1%     1%     1% /     1%     1%     1%     1%;
       -moz-border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
         -o-border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
            border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
    
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


#pricing{  
    background: none repeat scroll 0% 0% #EAEAEA;
    padding-top: 2%;
    padding-bottom:5%;
    color: #434A54;
}      

h4 {
    font-size: 40px;   
    font-family: Oswald;
}


.box .head-table {
    text-align: center;
    padding: 10px;
    color: #FFF;
    background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;    
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);  
    background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
}
ol,ul {
    list-style:none;
    font-family: Oswald;
}
.cent{
    text-decoration:underline;
    left: -7px;
    line-height: 14px;
    position: relative;
    font-family: Oswald;
}
.frequency{
    color:#408040;
    text-shadow:none;
    font-family: Oswald;
}
.currency {
    left: 7px;
    line-height: 14px;
    position: relative;
    top: -6px;
    font-family: Oswald;
}

.price{
    font-size: 30px;
    color: #217515;
    font-family:"Oswald",Helvetica,Arial,sans-serif;
    padding: 10px;
    border-top: 1px solid #B0E287;
    background: #7DCF3D;
    background: linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#52A93E), to(#7DCF3D));
    background: -moz-linear-gradient(top,#52A93E, #7DCF3D); 
}
.figure{
    font-weight:800;
    font-size:1.2em;
    margin:0 2px;
}

.items{
    list-style:none;
    padding:15px;
    margin:0;
}
.itema{
    padding:7px;
    text-transform:capitalize;
}
.item{
    padding:7px;
}
.box:hover {    
    -webkit-transform: translate(0px, -10px);
    -moz-transform:  translate(0px, -10px) ;
    -o-transform: translate(0px, -10px) ;
    -sand-transform:translate(0px, -10px) ;
    transform:  translate(0px, -10px);
    -ms-transform: translate(0px, -10px); /* IE 9 */
    
    box-shadow: 0 4px 29px rgba(0,0,0,0.8), 0 0 50px rgba(0,0,0,0.5) inset;   
}
#portfolio{ 
    padding-top: 2%;
    padding-bottom:5%;
    background: none repeat scroll 0% 0% #EAEAEA;
    min-height: 700px;
    color: #434A54;
    background-image: url(../img/bg-services.png);
    overflow: hidden;

}

.carousel .item {
    // opacity: 0; 

}
.carousel .item.active {
    /*    opacity: 1;
        -webkit-transition-property: opacity;
        -ms-transition-property: opacity;
        transition-property: opacity;*/
}

.quote {
    color: rgba(0,0,0,.1);    
    margin-bottom: 20px;
    margin-top: 30px;
}

#scroonshots {
    margin:0;
    min-height: 700px;
    background-attachment: scroll;
    background: url(../img/download7.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.overlay {  
    background-color:  rgba(163, 254, 150, 0.5);
    width: 100%;
    height: 100%;
    margin:0;
    min-height: 700px;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

p {
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
    color: #434A54;
}
#screenshots{
    padding-top: 20px;
    padding-bottom: 40px;
    margin:0;
    min-height: 700px;
    background-attachment: scroll;


    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #FFFFFF), color-stop(1, #EDEDED));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #EDEDED 100%);    


    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
.screenshot {
    
   
            -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    
    overflow: hidden;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4), 0 0 50px rgba(0,0,0,0.1) inset;
    color: #BFFEBF;      
}

.screenshot-hover {

    position: absolute;
    color:#000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200%;
    transform: translate(0px, -50%); 
    -ms-transform: translate(0px, -50%); /* IE 9 */
    -webkit-transform: translate(0px, -50%); /* Chrome, Safari, Opera */
    -moz-transform:  translate(0px, -50%) ;
    -o-transform: translate(0px, -50%) ;
    -sand-transform:translate(0px, -50%) ;
 
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.screenshot-hover:hover { 
    transform: translate(0px, 0%);  
    -ms-transform: translate(0px, 0%); /* IE 9 */
    
    -webkit-transform: translate(0px, 0%); /* Chrome, Safari, Opera */
}

.screenshot-description{ 
    text-decoration-line: none;
            -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.10), 0 0 20px rgba(0,0,0,0.4) inset;
    background: none repeat scroll 0% 0% #FFF;
    color: #e5e5e5; 
}
.screen1 {

    text-align: center;
    padding: 10px;
    width: 100%;
    height: 50%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.4) inset;
    color: #BFFEBF;      

}
.screen2 {

    text-align: center;
    padding: 10px;
    width: 100%;
    height: 50%;
    color: #BFFEBF;      

}




.screen1 i  {

    position: absolute;
    top: 20%;
    color: #FFF; 
       transform: scale(3); 
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Chrome, Safari, Opera */
    -moz-transform: scale(3) ;
    -o-transform: scale(3);
    -sand-transform:scale(3) ; 
    
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in-out;
}
.screen1 i:hover  {

        transform:  scale(5); 
    -ms-transform:  scale(5); /* IE 9 */
    -webkit-transform:  scale(5); /* Chrome, Safari, Opera */
    -moz-transform:  scale(5);
    -o-transform:  scale(5);
    -sand-transform: scale(5);
}

h5 {
    color: #434A54;
    font-size: 20px;
    font-family: Oswald;
}


.screenshot-description-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.icon-green 
{
    color: #47A447;   
}
.bg-shadow {
    text-shadow :0px 1px 1px #000000; 

}


.service{  

    color: #47A447;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in-out;   
} 




.service p {
    color: #888;
    font-size: 18px;
    line-height: 32px;    

} 
.service:hover{ 
}


.icon-green-white 
{
    color: #47A447;   
}

.feature-head
{
    float: left;
    padding-top: 20px;
}

.feature-body
{ 
}

.icon-feature{    
    width: 50px;
    height: 50px;
    line-height: 50px;
    background:  #47A447;
                -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    color: #FFF;
    margin-bottom: 10px;

}


feature{  
    border-color: #47A447;
                -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
         -o-border-radius: 1px;
            border-radius: 1px;
    border: 1px;
    color: #47A447;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in-out;   
} 

#features { 
    padding-bottom: 40px;   
    padding-top: 10px;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #FFFFFF), color-stop(1, #EDEDED));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #EDEDED 100%);    

}

.feature p {
    color: #888;
    font-size: 14px;
    line-height: 20px; 
    text-justify: distribute;
} 

.feature h3 {

    font-size: 20px;
    color: #424A59;
} 

.feature:hover{ 
    background-color: rgba(163, 254, 150, 0.3);   
}

.img-team {

    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
         -o-border-radius: 150px;

    box-shadow: 0 14px 15px rgba(0,0,0,0.5), 0 4px 50px rgba(0,0,0,0.4) inset;
}

.team{

      transform: scale(1); 
    -ms-transform:  scale(1); /* IE 9 */
    -webkit-transform:  scale(1); /* Chrome, Safari, Opera */
    -moz-transform:  scale(1);
    -o-transform: scale(1);
    -sand-transform: scale(1);  
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in-out;    
}

.team:hover{


    
    transform: scale(1.1); 
    -ms-transform:  scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    -moz-transform:  scale(1.1);
    -o-transform:  scale(1.1) ;
    -sand-transform: scale(1.1);
}

.team h5 {
    color: #47A447;
    font-size: 30px;

}

.team p {
    color: #424A59;
}

.call-to-action {

    text-align: center;
    padding: 10px;
    width: 100%;
    height: 50%;
    font-family: "Oswald",Helvetica,Arial,sans-serif;   
    box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2) inset;   
}

.call-to-action-body{
    padding: 60px;  
    font-size: 30px;    
}


.call-to-action-text
{

    font-size: 30px;

}
.call-to-action-span
{  
    color : #47A447 ;   
    font-weight: 900;
}


.dsd2 {
    width: 100%;
}
.form-control {
    display: block;
    width: 95%;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
        -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    margin:  0px 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-control:hover,.form-control:focus {
    box-shadow: none;
    border: 1px solid #47A447;
}
.input-md{    
    height: 50px ; 

}
#message {
    display: block;
    margin: auto;
    width: 95%;
    resize: none;
    height: 138px ;
}


#contact{
    padding-top: 20px;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center top, 0, center top, 509, color-stop(0, #FFFFFF), color-stop(1, #EDEDED));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #EDEDED 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #EDEDED 100%);    


}


.screenhover{
    z-index: 300;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFF; 
    opacity: 0;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in;
    transition: all 0.3s ease-in-out; 

}


.screenhover:hover {
    opacity: 0.3;
}


.screenimage{
    height: 100%;
    width: 100%;

}

.najma {
    position: absolute;
    top: 40%;
    left: 45%;
    //left: 0px;

}
#chart{
    font-size: 30px;
    color: #217515;
    padding-bottom: 50px;
    border-top: 1px solid #B0E287;
      background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
      background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);
    //  background: linear-gradient(#7DCF3D, #52A93E); 

}

.pad {

    padding-bottom: 45px; 

}


.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.timer {

    color: #00b3ee;

    font-size: 18px;

}

.header-icon{
    color: #ebebeb;
    padding: 10px;


    background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;    
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);  
    background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;

    //   transform:  scale(1);
        -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
         -o-border-radius: 20px;
            border-radius: 20px;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    -ms-transition:all 0.9s ease-in;
    transition: all 0.9s ease-in-out;    
}



.header-icon:hover{
    border-radius: 0px;
    // background: linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    color:  #7DCF3D ;  
    background: #7DCF3D;
    background: linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#52A93E), to(#7DCF3D));
    background: -moz-linear-gradient(top,#52A93E, #7DCF3D);  



}

.btn-info {
    color: #FFF;
    background:transparent;
    border-color: #52A93E;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in;
    transition: all 0.6s ease-in-out; 

}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #7DCF3D;
    background:transparent;
    border-color: #FFF;
}

.btn-success {
    color: #FFF;
    background: #7DCF3D;
    background: linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#52A93E, #7DCF3D) repeat scroll 0% 0% transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#52A93E), to(#7DCF3D));
    background: -moz-linear-gradient(top,#52A93E, #7DCF3D);   
    border-color: #52A93E;


}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.success {
    color: #FFF;
    background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;    
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);  
    background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
    border-color: #52A93E;
}


.list-items{   
    padding-top:6%;        
}

.slide-list-item{ 
    display: block;
    padding-top: 2%;
    line-height: 1.15;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    text-shadow: 0px -3px 8px #000;
    color: #FFF;
    font-size: 20px;
}

.bg-red{
    color: #FFF;
    background: #7DCF3D;
    background: linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;    
    background: -webkit-gradient(linear, left top, left bottom, from(#7DCF3D), to(#52A93E));
    background: -moz-linear-gradient(top, #7DCF3D,  #52A93E);  
    background: -ms-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent; 
    background: -o-linear-gradient(#7DCF3D, #52A93E) repeat scroll 0% 0% transparent;
    border-color: #52A93E; 
        -webkit-border-radius:40px;
       -moz-border-radius: 40px;
         -o-border-radius: 40px;
            border-radius: 40px;
    padding: 10px;
}  

.color-green{
    border-color:  #7DCF3D;
    border: 3px;

}
.part-bg-white {
    padding-top: 20px;
    background-color: #fff;
    overflow: hidden;
}

.cadre { 
    border-top:dashed 5px #7DCF3D;
    border-bottom: dashed 5px #7DCF3D;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    
}

.overf{


    overflow: hidden;
}

.social-icon-facebook{

    background-color: #3b5998;

    padding: 20px;

    color: #FFF;

}

.fontions{   
    padding-top: 2%;
    padding-bottom:5%;
    background-image: url(../img/bg-services.png);
    overflow: hidden; 
}


.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook { /* round facebook icon*/
    background: #4060A5;
}
.social .fa-facebook:hover { /* round facebook icon*/
    // background: #4060A5;
    background-color: #909AA0;
}

.social .fa-twitter { /* round twitter icon*/
    background: #00ABE3;
}
.social .fa-twitter:hover { /* round twitter icon*/
    background-color: #909AA0;
}


.social .fa-google-plus  { /* round google plus icon*/
    background: #e64522;
}
.social .fa-google-plus:hover { /* round google plus icon*/
    background-color: #909AA0;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-pinterest:hover { /* round pinterest icon*/
    background: #cb2027;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}

.social .fa-flickr:hover { /* round flickr icon*/
    background: #FF57AE;
}

.social .fa-instagram:hover { /* round instagram icon*/
    background: #375989;
}

.social .fa-vimeo-square:hover { /* round vimeo square icon*/
    background: #83DAEB;
}

.social .fa-stack-overflow:hover { /* round stack overflow icon*/
    background: #FEA501;
}

.social .fa-dropbox:hover { /* round dropbox icon*/
    background: #017FE5;
}

.social .fa-tumblr:hover { /* round tumblr icon*/
    background: #3a5876;
}

.social .fa-dribbble:hover { /* round dribble icon*/
    background: #F46899;
}

.social .fa-skype:hover { /* round skype icon*/
    background: #00C6FF;
}

.social .fa-stack-exchange:hover { /* round stack exchange icon*/
    background: #4D86C9;
}

.social .fa-youtube:hover { /* round youtube icon*/
    background: #FF1F25;
}

.social .fa-xing:hover { /* round xing icon*/
    background: #005C5E;
}

.social .fa-rss:hover { /* round rss icon*/
    background-color: #909AA0;
}
.social .fa-rss  { /* round rss icon*/
    background: #e88845;
}
.social .fa-foursquare:hover { /* round foursquare icon*/
    background: #09B9E0;
}

.social .fa-youtube-play:hover { /* round youtube play button icon*/
    background: #DF192A;
}


.padding-left {

    padding-left: 40px; 


    display: block;
} 

.img-margin {

    margin-bottom: 10px;

    height: 100px;
    width: 100px;

}
.help-block ul > li {

    color: #cb2027;

}

.fontions-padding {

    padding-top:10%;

}
.control-group {}
.wow{}
.body-table{}
.footer-table{} 
.controls{} 
.input-xlarge{}
.soustitre{}
.slide{}
.title{}
.slides{}
